[Unit]
Description=Pd WebGui Shim
DefaultDependencies=no
After=network-pre.target
Conflicts=shutdown.target
Before=shutdown.target
PartOf=pd-webgui.service

[Service]
ExecStart=/usr/bin/node /opt/pd-webgui/shim/ nopd
Type=simple
Restart=always

[Install]
WantedBy=default.target
