[Unit]
Description=Pd WebGui Frontend
DefaultDependencies=no
After=network-pre.target
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Environment=OVERRIDE_PATCH_DIRECTORY=/root/patches
EnvironmentFile=-/opt/pd-webgui-env
ExecStart=/usr/bin/env /usr/bin/node /opt/pd-webgui/frontend/dist
Type=simple
Restart=always

[Install]
WantedBy=default.target
